link: "Ochrana osobních údajů"
headline: "Tento web používá Google AdWords"
p1: "Tento web používá remarketingové služby Google AdWords za účelem umisťování reklam na webech třetích stran (včetně Google) a jejich zobrazení předchozím návštěvníkům tohoto webu. To může například znamenat, že zobrazíme reklamu předchozím návštěvníkům webu, kteří na tomto webu nedokončili určitou akci, např. neodeslali vyplněný kontaktní formulář. Účastníci třetích stran, včetně Google, používají ke sledování předchozích návštěv tohoto webu cookies. Veškerá manipulace s daty je v souladu s podmínkami ochrany osobních údajů Google a tohoto webu."
p2: "Vlastní nastavení reklamních služeb Google můžete provést pomocí"
link1: "stránky nastavení Google reklam"
p2-2: ", nebo"
link2: "pluginu pro Váš prohlížeč"
p2-3: "."