layout:
    title: "Chytře a od srdce"
    description: "Artatol pomáhá lidem dělat co milují. Tvoříme internetové (webové) stránky, firemní aplikace, produkční design. Praha | Olomouc | Liberec | Brno"

presenter:
    form:
        name: "Vyplňte prosím vaše jméno"
        email: "Vyplňte prosím emailovou adresu."
        nomail: "Nebyla zadána validní emailová adresa."
        message: "Vypňte prosím text zprávy."
        flash: "Vaše zpráva byla úspěšně odeslána. Děkujeme."
    mediabox:
        loading: "Načítám..."
        loadmore: "Načíst další"


menu:
    home: "Homepage"
    about: "O nás"
    one: "Jedna"
    two: "Dva"
    three: "Tři"
    contact: "Kontakt"
