<!DOCTYPE html>
<html class="uk-height-1-1">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="robots" content="{$robots}" n:ifset="$robots" content="noindex,nofollow">
        <meta name="rating" content="general">
        <meta name="author" content="Artatol, https://www.artatol.com">
        <meta name="description" content="{_text.layout.description}">
        <title>"Artatol &raquo; {block title|striptags}{_text.layout.title}{/block}"</title>
        <meta name="description" content="{block description}{_text.layout.description}{/block}">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <!-- inject:css -->
        <link href="/css/artatol-all.min-678bea5b.css" rel="stylesheet" type="text/css">
        <!-- endinject -->
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		{block head}{/block}
	</head>

	<body class="uk-height-1-1">
    {include '@ganalytics.latte'}
		<script> document.documentElement.className += ' js'</script>

                <div class="uk-width-1-1 uk-text-center aa-flash-message">
                    <div n:foreach="$flashes as $flash" class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-1-2 uk-container-center aa-flash-message-content flash {$flash->type}">
                            {$flash->message}
                    </div>
                </div>
        {ifCurrent Error:*}
                <div class="uk-width-1-1 uk-height-1-1">
                {include content}
                </div>
        {else}
        <div class="uk-width-1-1 uk-height-1-1">
                {include '@menu.latte'}
			    {include content}
                {ifCurrent Policy:*}
                {else}
                {include '@contact.latte'}
                {/ifCurrent}
        </div>
        {/ifCurrent}
        <!-- inject:js -->
        <script src="/js/artatol-all.min-e0d8aa66.js"></script>
        <!-- endinject -->
	</body>
</html>
